{% load static %}
{% load i18n %}
<footer class="footer">
    <nav class="columns is-vcentered">
        <!-- Right side -->
        <div class="column has-text-right">
            <!-- <div class="level-item"> -->
            <p class="column is-size-7 has-text-centered has-text-right-desktop is-family-monospace">
                Fork de <a target="_blank" href="https://ayudapy.org">AyudaPy</a>, modificado por <a target="_blank" href="https://www.weblab.com.py">WebLab</a>
                <br> Licencia <a href="https://opensource.org/licenses/GPL-3.0">GPLv3</a>
                <br><a href="https://github.com/melizeche/ayudapy" target="_blank" rel="noopener noreferrer">Código Fuente<span class="icon"><i class="fab fa-github" title="logo Github"></i></span></a>
            </p>
            <!-- </div> -->
        </div>
    </nav>

</footer>