{% extends 'base.html'%}
{% load i18n %}

{% block content %}
<div class="is-fullhd">
    <div class="columns is-centered">
        <div class="column is-3">
            <a href="/nuevo-oficio">
                <article class="tile is-child notification has-text-centered" style="background-color: #ffb852; color: white;">
                    <p class="title is-4">Tengo un Oficio</p>
                    <p class="subtitle is-size-7">Registra tu oficio para que otros puedan verlo</p>
                </article>
            </a>
        </div>
        <div class="column is-3">
            <a href="/oficios">
                <article class="tile is-child notification has-text-centered" style="background-color: #4cd36f; color: white;">
                    <p class="title is-4">Ver Oficios</p>
                    <p class="subtitle is-6 is-size-7">Busca oficios más cercanos</p>
                </article>
            </a>
        </div>
    </div>
    <!-- <div class="columns is-centered">
        <div class="column is-3">
            <a href="/donaciones">
                <article class="tile is-child notification has-text-centered" style="background-color: #6e6bd1; color: white;">
                    <p class="title is-4">{% trans "Donation Centers!" %}</p>
                    <p class="subtitle is-6 is-size-7">{% trans "See what you can donate and where" %}</p>
                </article>
            </a>
        </div>
        <div class="column is-3">
            <a href="/voluntario/legal">
                <article class="tile is-child notification has-text-centered" style="background-color: #f95d82; color: white;">
                    <p class="title is-4">{% trans "I want to volunteer!" %}</p>
                    <p class="subtitle is-size-7">{% trans "Help us to help" %}</p>
                </article>
            </a>
        </div>
    </div> -->
</div>

{% endblock %}